.main,
.main input{
  font-size:16px;
  font-family: sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h3 {
  font-size:32px;
  font-weight: bold;
  color:#5C86A7
}

.main form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main textarea{
  padding: 12px 16px;
  font-size: 20px;
  border: 1px solid #05C4BC;
  border-radius: 4px;
  margin-bottom: 25px;
}

.main input[type="button"] {
  color:#FFFFFF;
  background-color: #05C4BC;
  width: 50%;
  border:none;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
  align-self: center;
  height: 40px;
}


.main .result{
  font-weight: bold;
  font-style: italic;
  color : #8E8A89
}

.main .result h2{
  color : #5C86A7;
  font-style: normal;
}
